<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>home</title>
    </head>
    <body>
        <form action = "/esercizio1" method = "get">
            <input type = "text" name = "quartiere"> inserisci un quartiere<br><br>
            <input type = "submit" value = "esercizio1">
        </form><br><br>
        <form action = "/esercizio2">
            <input type = "submit" value = "esercizio2">
        </form><br><br>
        <form action = "/esercizio3">
            <input type = "submit" value = "esercizio3">
        </form><br><br>
        <form action = "/esercizio4" method = "get">
            <select name = "zona">
                {%for qua in lista%}
                    <option value = "{{qua}}">{{qua}}</option>
                {%endfor%}
            </select>
            <input type = "submit" value = "esercizio4">
        </form><br><br>
        <form action = "/esercizio5">
            <input type = "submit" value = "esercizio5">
        </form><br><br>
        <form action = "/esercizio6" method="get">
            <input type = "text" name = "tasso"> inserisci un tasso di conversione<br><br>
            <input type = "submit" value = "esercizio6">
        </form>
    </body>
</html>